@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;500&family=Mukta&family=Rubik&family=Work+Sans:wght@350&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
}

.navigation {
    background-color: #e3e3e35d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 5px 5px -5px;
} 


.navbar>h1 {
    padding: 20px 45px;
    color: black;
}

.navbar .navlist ul {
    list-style-type: none;
    display: flex;
}

.navbar .navlist ul li {
    padding: 2px 15px;
    color: rgb(72, 72, 72);
}

.navbar  .menu h1{
    cursor: pointer;
}
.banners {
    max-width: 1200px;
    margin: auto;
}

.banners img {
    width: 290px;
    margin: 10px;
    transition: transform 300ms ease 0s;
    border-radius: 10px;
}

.banners img:hover {
    transform: scale(0.98);
}

/* ==========body cards css */
.restocards , .bodyheading {
    max-width: 1200px;
    margin: auto;
    padding: 1.2rem 0px;  
    
}

.bodyheading p{
    
    color: rgb(51, 51, 51);
font-size: 1.8rem;
font-weight: 800;
line-height: 1.2;
}
.restocards .restocards2{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
/* .restocards .restocardsinfo{
  
} */
.restocards .cardsinfo  {
    margin: 0.75rem 0px;
    padding: 0 0.8rem;
    margin-bottom: 20px;
  }

.restocards .cardsinfo  .restocardsinfo{
    background-color: rgb(237, 237, 251);
    transition: transform 300ms ease 0s;
    overflow: hidden;
    padding: 9px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 376px;
min-width: 350px;
}
.restocards .cardsinfo  .restocardsinfo:hover{
    transform: scale(1.04);
    transition: all 0.3s ease 0s;
}


.restocards .cardsinfo .restoimage img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.restocards .cardsinfo .restoinfo {
    width: calc(100% - 35px);
    color: #fff;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background-image: linear-gradient(#00000080, #0003);
    padding: 0.5rem;
    position: absolute;
    bottom: 1rem;
    left: 1.1rem;
}
.restocards .cardsinfo .restoinfo p{
    padding: 3px 8px;
    font-size: small;
}
.restocards .cardsinfo .restoinfo input{
    padding: 0.4em 0.7em;
border: none;
border-radius: 6px;
cursor: pointer;
margin: 5px 0 0 0;
}

/* =======================form feedback css */
form{
    background-color: rgba(248, 232, 254, 0.332);
}
form .formfeedback{
    max-width: max-content ;
    margin: 1em auto ;
    /* padding: ; */
}
form .formfeedback head h2{
    padding: 5px;
}
.formfeedback .form1 input,.formfeedback  .form2 input{
margin: 0.6em 0;
padding: 0.5em 5em 0.5em 2em;
outline: none;
}
.formfeedback .btn button{
    padding: 0.5rem 1.5rem;
    margin: 10px !important;
    background-color: rgba(78, 44, 113, 0.852);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 200ms ease-in;
}
.formfeedback .btn button:hover{
  
        background-color: rgba(107, 32, 178, 0.806);
        transform: scale(1.09);
    
}
.mainfooter{
    background-color: #e3e3e35d;
padding: 1em;
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer .foterlist ul li{
list-style: none;
padding: 5px 4em;
}

.footer .register h4{
    margin:  0.5em;
}


