@media (min-width:800px) {
    .banners img {
        width: 320px;
    }
}

@media (min-width:1200px) {
    .banners img {
        width: 365px;
    }
}

@media (min-width:1500px) {

    .banners img {
        width: 380px;
    }
}

.navbar>.menu {
    padding: 2px 3em;
    display: none;
}

.navbar>.menu>h1 {
    color: black;
    cursor: pointer;
}

.navbar .navlist {
    position: relative;
}


.sreachinput {
    max-width: fit-content;
    margin: 0.8em auto;
}

.sreachinput input {
    padding: 0.7em 4em;
    border-radius: 10px;
    border: solid gray 1px;
    outline: none;
    font-size: 18px;
}

.sreachinput button {
    padding: 0.61em 2.7em;
    margin: 0 20px;
    box-shadow: none;
    text-align: center;
    text-transform: capitalize;
    color: #4945be;
    border: 1px solid #4945be;
    border-radius: 4px;
    flex-shrink: 0;
    padding: 12px 30px 10px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width:750px) {
    .navbar .navlist {
        background-color: #f5f5f5;
        position: absolute;
        top: 3.5em;
        left: 0em;
        width: 50%;
        overflow: hidden;
        transform: translateY(0.1);
        display: none;
        transition: all 1000ms;
    }

    .navbar .navlist.mobileactive {
        display: block;
        position: static;
    }

    .navbar .navlist ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .navlist ul li {
        padding: 12px 15px;
        color: rgb(23, 18, 18);
    }

    .navbar .menu {
        display: block;
    }
}

@media (max-width:600px) {
    .sreachinput {
        display: flex;
        justify-content: center;
    }

    .sreachinput input {
        padding: 0 0.7em;
        font-size: medium;
    }

    .sreachinput button {
        margin: 9px 1em;
        padding: 0.51em 1.7em;
    }
}